.style-image-preview-wrap-pointer{
    text-decoration: none !important;
    color: whitespace;
    cursor: pointer;
    margin-left: 1rem;
    width: 22px;
    height: 22px;
    background-color: rgb(157, 158, 144);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}